body {
  background-color: #f8f8ff;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    background: #ff4d4d;
    padding: 15px 22px;
    border: none;
}

.button:hover {
  background-color: #7CFC00;
  color: #0d6dba;
  transition: ease-in-out 550ms;
}
